<launch>


   <arg name="datum" default="[46.16388, 5.98048, 0.0, map, base_link]"/>
   <arg name="map" value="$(find pioneer_outdoor)/maps/manno/map.yaml"/>

   <include file="$(find pioneer_outdoor)/launch/localization/localization.launch">
     <arg name="gps" value="1"/>
     <arg name="gps_topic" value="fix"/>
     <arg name="datum" value="$(arg datum)"/>
     <arg name="filter_map" value="1"/>
     <arg name="amcl" value="0"/>
     <arg name="compass" value="true"/>
     <arg name="compass_odom" value="false"/>
     <arg name="amcl_map" value="$(arg map)"/>
     <arg name="amcl_global" value="0"/>
     <arg name="amcl_global_frame" value="utm"/>
     <arg name="amcl_transformation" value="493687 5096814 0 -1.91 0 0"/>
   </include>
   
</launch>
