<launch>
	
    <arg name="multimaster" default="0"/>
    <arg name="nimbro" default="0"/>
    <arg name="remote_base" default="$(optenv remote_addr 10.42.43.13)"/>
    <arg name="remote_port" default="$(optenv remote_port 9999)"/>
    <group ns="$(env HOSTNAME)">
    	   <include if="$(arg multimaster)" file="$(find pioneer_outdoor)/launch/network/mm.launch"/>
	   <include if="$(arg nimbro)" file="$(find pioneer_outdoor)/launch/network/nimbro.launch">
	   	    <arg name="target" value="$(arg remote_base)"/>
		    <arg name="port" value="$(arg remote_port)"/>
	   </include>
    </group>
</launch>