<launch>

    <!-- only for replay of bag files
    <param name='use_sim_time' value='true'/> -->

    <!-- To display the pioneer in rviz -->

    <include file="$(find p2os_urdf)/launch/upload_pioneer3at.xml"/>
    <node pkg="p2os_urdf" type="p2os_publisher_3at" name="publisher"/>

    <!-- Define the imu frame -->
    <node pkg="tf" type="static_transform_publisher" name="link1_broadcaster" args="0.3 0 0.5 0 0 0 base_link imu 100"/>

    <!-- PREPARE SENSORS -->
    <!-- Check if yaw from magnetometer is valid -->
    <node pkg="topic_tools" type="transform" name="imu2angularspeed" args="/android/imu yaw std_msgs/Float32 'tf.transformations.euler_from_quaternion([m.orientation.x, m.orientation.y, m.orientation.z, m.orientation.w])[2]' --import tf"/>

    <!-- Add covaraince to IMU, republished to /imu -->
    <node pkg="pioneer_outdoor" type="imu_republisher.py" name="imu_republisher">
        <remap from="in_imu" to="/android/imu"/>
        <remap from="out_imu" to="/imu"/>
    </node>

    <!-- Tranform GPS to odometry in the map frame -->
    <!-- Currently not working without setting the "datum" parameter -->

    <node pkg="robot_localization" type="navsat_transform_node" name="sat2odom" clear_params="true">
        <!-- with datum -->
        <rosparam param="wait_for_datum">true</rosparam>
        <rosparam param="datum">[46.025830, 8.919781, 0.0, map, base_link]</rosparam>
        <!-- without datum -->
        <!--
        <remap from="/imu/data" to="/imu"/>
        <param name="magnetic_declination_radians" value="0"/>
        <param name="magnetic_declination_radians" value="0"/>
        <param name="yaw_offset" value="0"/>
        -->

        <rosparam param="publish_filtered_gps">true</rosparam>
        <remap from="/gps/fix" to="/fix"/>
    </node>

    <!-- Tranform the Android GPS too (currently not fused) -->

    <node pkg="robot_localization" type="navsat_transform_node" name="sat2odom2" clear_params="true">
        <remap from="gps/fix" to="android/fix"/>
        <rosparam param="wait_for_datum">true</rosparam>
        <rosparam param="datum">[46.025830, 8.919781, 0.0, map, base_link]</rosparam>
        <remap from="odometry/gps" to="odometry/gps_android"/>
    </node>

    <!-- RUN FUSION:
    - odometry linear (x,y) and angular speed (yaw)
    - imu angular speed (yaw)
    - gps position (x,y)

    Maybe add
    - imu orientation (yaw)
    - andoroid GPS
    -->

    <node pkg="robot_localization" type="ekf_localization_node" name="ekfsat" clear_params="true">

        <param name="frequency" value="30"/>
        <param name="sensor_timeout" value="0.1"/>
        <param name="two_d_mode" value="true"/>

        <param name="odom_frame" value="odom"/>
        <param name="base_link_frame" value="base_link"/>
        <param name="world_frame" value="map"/>

        <!-- ODOMETRY -->
        <param name="odom0" value="/pose"/>
        <rosparam param="odom0_config">
            [false, false, false, false, false, false, true, true, false, false, false, true, false, false, false]
        </rosparam>
        <param name="odom0_differential" value="true"/>

        <!-- GPS -->
        <param name="odom1" value="/odometry/gps"/>
        <rosparam param="odom1_config">
            [true, true, false, false, false, false, false, false, false, false, false, false, false, false, false]
        </rosparam>
        <param name="odom1_differential" value="false"/>

        <!-- IMU -->
        <param name="imu0" value="/imu"/>
        <rosparam param="imu0_config">
            [false, false, false, false, false, false, false, false, false, false, false, true, false, false, false]
        </rosparam>
        <param name="imu0_differential" value="true"/>

    </node>

</launch>
