<launch>
   <include file="$(find pioneer_outdoor)/launch/core/core.launch">
      <arg name="hokuyo" value="1"/>
      <arg name="sick" value="0"/>
      <arg name="ahrs" value="1"/>
      <arg name="robot" value="1"/>
      <arg name="joystick" value="1"/>
      <arg name="gps" value="1"/>
      <arg name="camera" value="1"/>
      <arg name="model" value="pioneer3"/>
  </include>
</launch>
