<launch>
    <arg name="laser_device" default="$(optenv laser /dev/mylaser)"/>

    <node pkg="sicktoolbox_wrapper" type="sicklms" name="sicklms_node" required="true">
        <param name="port" type="string" value="$(arg laser_device)"/>
        <param name="baud" type="int" value="38400"/>
    </node>
</launch>
